# Set to false to switch from built-in forms to live Typeforms
VITE_USE_DUMMY_FORMS=true

# Hosted Typeform Form IDs
VITE_TYPEFORM_PROPOSE_PROJECT=Csq4ijcx
VITE_TYPEFORM_JOIN_COMMUNITY=KS9VXRHf
VITE_TYPEFORM_JOIN_PROJECT=BEDaiz9s
